
<div class="container bg-overlay">
  <div class="row text-center">
    <h1 class="text-center">five after five</h1>
    <h4>Happy Hours. <br> Go there, eat stuff, drink things. Repeat.</h4>
  </div>
</div>



<div class="row">
  <div class="col-md-1">

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bars.each do |bar| %>
        <tr>
          <td><%= bar.name %></td>
          <td><%= bar.street %></td>
          <td><%= bar.city %></td>
          <td><%= bar.state %></td>
          <td><%= bar.zip %></td>
          <td><%= link_to 'Show', bar %></td>
          <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
          <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Bar', new_bar_path %>

</div>
</div>

<br>

<div class="row">
  <div class="col-md-1 center-block map" id="bars_map" data-bars-id="<%=@bars%>">
  </div>
</div>
