
<div class="container bg-overlay">
  <div class="row text-center">
    <h1 class="text-center">five after five</h1>
    <h4>Happy Hours. <br> Go there, eat stuff, drink things. Repeat.</h4>
    <!-- <div class="container clock">
      <%= render partial: 'bars/clock' %>
    </div> -->
  </div>
</div>


<div class="container listings">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @bars.each do |bar| %>
            <tr>
              <td><%= link_to bar.name, bar, class: 'bar-link' %></td>
              <td><%= "#{bar.street}, #{bar.city} #{bar.zip}" %></td>

              <td class="table-btn"><%= link_to 'View', bar, class: 'btn btn-default' %></td>

              <!-- <% if bar.user == current_user %>
                <td class="table-btn btn-"><%= link_to 'Edit', edit_bar_path(bar), class: 'btn btn-default' %></td>
                <td class="table-btn"><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Bar', new_bar_path, class: 'btn btn-primary' %>

    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="center-block map" id="bars_map" data-bars-id="<%=@bars%>">
  </div>
</div>
