<div class="container container-top">


<h2 class="text-center"><%= @bar.name %></h2>
<p class="text-center">
  <%= @bar.street %>,   <%= @bar.zip %>
  <br>
  <% if @bar.user == current_user %>
    <%= link_to 'Edit', edit_bar_path(@bar) %> |
  <% end %>
  <%= link_to 'Back', bars_path %>
</p>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Day</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>

  <tbody>
    <% @bar.events.each do |event| %>
      <tr>
        <td><%= event.day %></td>
        <td><%= event.start.hour %></td>
        <td><%= event.end.hour %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="map" id="bar_map" data-bar-id="<%=@bar.id%>"></div>

</div>
