
<div class="container bg-overlay">
  <div class="row text-center">
    <h1 class="text-center">five after five</h1>
    <h4>Happy Hours. <br> Go there, eat stuff, drink things. Repeat.</h4>
    <div class="container anim-search">
      <%= render partial: 'layouts/search' %>
      <% render partial: 'clock2' %>
    </div>

    <a href="#listings"><span class="glyphicon glyphicon-chevron-down" id="down-arrow"></span></a>
  </div>
</div>

<div class="container listings" id="listings">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-responsive">
        <caption>Coming up...</caption>


        <tbody>
          <% if @results.length == 0 %>
            <% @events.sorted.each do |event| %>
              <tr>
                <td><%= link_to event.bar.name, event.bar, class: 'bar-link' %></td>
                <td><%= event.day %></td>
                <td><%= "#{@events.hourstring(event.start)} to #{@events.hourstring(event.end)}" %></td>
                <td><%= "#{event.bar.street} #{event.bar.zip}" %></td>

                <td class="table-btn"><%= link_to 'Show', event, class: 'btn btn-default' %></td>
              </tr>
              <% end %>
            <% else %>
            <% @results.each do |result| %>
            <tr>
              <td><%= result.content %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="center-block text-center">
        <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="center-block map" id="bars_map" data-bars-id="<%=@bars%>">
  </div>
</div>
